html, body {
    color: #fff;
    font-family: "bender";
    margin: 0;
    padding: 0;
}
img{
	border: none;
}

.clear{
	clear: both;
}

.box-center{
	width: 1100px;
	margin: 0px auto;
}
/* navigation */
#navigation
{
	background:url(images/bgr-navigation.png) repeat;
	min-height:64px;
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:9;
}
#navigation .logo
{
	float:left;
}
#navigation .main-menu{
	float: right;
}
#navigation .main-menu ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	font-size: 0px;
}

#navigation .main-menu ul li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	font-size: 14px;
	margin-left: 30px;
}

#navigation .main-menu ul li a{
	display: block;
	line-height: 64px;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
#navigation .main-menu ul li.active a, #navigation .main-menu ul li:hover a{
	border-bottom: 5px solid #54626b;
}
#navigation .main-menu a.btn-toggle{
	display: block;
	background: url("images/btn-toggle.png") no-repeat 10px center;
	height: 40px;
	line-height: 40px;
	border: 1px solid #fff;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	display: none;
}
/* header */
#header
{
	background:url(images/bgr-header.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	padding-top: 140px;
}
.contact-me h1.title-contact {
    color: #fff;
    float: left;
    font-size: 43px;
    font-weight: normal;
    margin: 0;
    text-align: center;
}
.contact-me .btn-contact {
    float: right;
    margin-top: 20px;
}
.contact-me .btn-contact a {
    background:#fdde3f;
    border-bottom: 1px solid #a99c54;
    border-radius: 3px;
    border-top: 1px solid #a99c54;
    color: #334a52;
    display: block;
    font-family: "raleway";
    font-size: 15px;
    line-height: 53px;
    text-align: center;
    text-decoration: none;
    padding:0 90px;
}
.social
{
	position:relative;
	text-align:center;
	overflow-x:hidden;
	margin-top:100px;
}
.social .line-left
{
	background:#fff;
	height:1px;
	position:absolute;
	left:0;
	top:65px;
	right:50%;
	margin-right:270px;
}
.social .line-right {
    background:#fff;
    height: 1px;
	position: absolute;
    left: 50%;
    right: 0;
    top: 65px;
	margin-left: 270px;
}
.social h4.title{ 
	text-align: center;
	font-family: "raleway";
	font-weight: 700;
	font-size: 18px;
	color: #fff;
	margin: 0px 0px 20px;
}
.social a.btn-social{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	background: #d9eeea;
	height: 47px;
	line-height: 47px;
	width: 235px;
	text-decoration: none;
	font-family: "raleway";
	font-weight: 700;
	font-size: 12px;
	color: #344b53;
	margin: 0px 6px;
	border-radius: 24px;
}
.social a.btn-social:hover{
	background: #fff;
}
.list-product
{
	margin-top:140px;
}
.list-product ul {
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.list-product ul li {
    display:inline-block;
    margin: 0 25px;
    min-height:230px;
    position:relative;
    vertical-align:top;
}
.list-product ul li p a {
    color: #fff;
    font-family: "raleway";
    font-size: 19px;
    text-decoration: none;
}
.list-product ul li > a {
    bottom: -5px;
    left: 0;
    position: absolute;
    right: 0;
}
/* content */
.rules
{
	text-align:center;
	padding-top:70px;
}
.rules h2.title {
    color: #334a52;
    font-size: 37px;
    font-weight: normal;
    margin: 0;
}
.rules p.desc-title {
    color: #334a52;
    font-family: "raleway";
    font-size: 16px;
    margin: 25px 0 0;
    text-transform: uppercase;
}
.rules ul.list-rules{
	margin: 60px 0px 0px;
	padding: 0px;
	list-style: none;
}

.rules ul.list-rules li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin: 0px 50px;
}

.rules ul.list-rules li p a{
	text-decoration: none;
	font-family: "raleway";
	font-weight: normal;
	font-size: 16px;
	color: #334b52;
}

.rules ul.list-rules li p a b{
	font-weight: 700;
}

.rules ul.list-rules li:hover a{
	color: #999;
}
.rules .slogan{
	display:inline-block;
	zoom: 1;
	*display: inline;
	vertical-align:top;
	margin-top:60px;
}

.rules .slogan p{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
	margin: 0px 30px 0px 0px;
	font-family: "raleway";
	font-size: 22px;
	color: #334b52;
}

.rules .slogan p b{
	font-weight:700;
}

.rules .slogan img{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: middle;
}
#content .services{
	background: #f1efea;
	padding-top: 20px;
	padding-bottom: 50px;
}
.services .list-services {
    border-bottom: 1px solid #d8d3c8;
    margin-top: 50px;
}
.services .list-services .details-services{
	max-width: 650px;
}

.services .list-services.align-bottom .details-services{
	text-align: right;
}
.services .list-services.align-top .thumb-services
{
	float:right;
}
.services .list-services .details-services h3.title{
	font-size: 37px;
	color: #30474f;
	margin: 10px 0px 0px;
	font-weight: normal;
	font-family: "bender";
}

.services .list-services .details-services h6.desc-title{
	font-family: "raleway";
	font-weight: 700;
	text-transform: uppercase;
	font-size: 16px;
	margin: 10px 0px;
	color: #30474f;
}

.services .list-services .details-services p{
	font-family: "raleway";
	font-size: 14px;
	color: #30474f;
	margin: 35px 0px 0px;
}

.services .list-services.align-top .details-services{
	float: left;
}

.services .list-services.align-bottom .details-services{
	float: right;
}
.contact-form{
	background: url(images/bgr-map.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	padding: 85px 0px 55px;
}
.contact-form h1.title{
	font-size: 37px;
	color: #fff;
	font-weight: normal;
	margin: 0px;
	text-align: center;
}

.contact-form h6.desc-title{
	font-family: "raleway";
	font-weight: 700;
	font-size: 16px;
	text-align: center;
	margin: 15px 0px 0px;
}

.contact-form form{
	margin-top: 80px;
	padding: 0px 85px;
}

.contact-form form .left{
	float: left;
}

.contact-form form .left input[type="text"]{
	height: 44px;
	line-height: 44px;
	padding: 0px 20px;
	width: 350px;
	display: block;
	border: 1px solid #b8bcb2;
	border-radius: 4px;
	margin-bottom: 33px;
	font-family: "raleway";
	font-size: 13px;
	color: #2e2e2e;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
  	.contact-form form .left input[type="text"]{
  		line-height: inherit;
  	} 
} 

.contact-form form .left input[type="text"].error{
	border-color: #ff0000;
}

.contact-form form label.error{
	display: none !important;
}

p.succes{
	color: greenyellow;
}

.contact-form form .left input[type="text"]::-webkit-input-placeholder { /* WebKit browsers */
    color: #2e2e2e;
}
.contact-form form .left input[type="text"]:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2e2e2e;
   opacity: 1;
}
.contact-form form .left input[type="text"]::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2e2e2e;
   opacity: 1;
}
.contact-form form .left input[type="text"]:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #2e2e2e;
}

.contact-form form .right{
	float: right;
	text-align: right;
}

.contact-form form .right textarea{
	width: 450px;
	display: block;
	padding: 20px;
	border: 1px solid #b8bcb2;
	border-radius: 4px;
	font-family: "raleway";
	font-size: 13px;
	color: #2e2e2e;
	text-align: left;
	resize: none;
	height: 160px;
}

.contact-form form .right textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: #2e2e2e;
}
.contact-form form .right textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #2e2e2e;
   opacity: 1;
}
.contact-form form .right textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #2e2e2e;
   opacity: 1;
}
.contact-form form .right textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
   color: #2e2e2e;
}

.contact-form form input[type="submit"]{
	font-family: "raleway";
	font-weight: 700;
	display: inline-block;
	zoom: 1;
	*display: inline;
	margin-top: 40px;
	background: #fdde3f;
	border-radius: 4px;
	border: 1px solid #bdab55;
	width: 155px;
	height: 43px;
	line-height: 43px;
	font-size: 16px;
	color: #30474f;
	cursor: pointer;
}

/*Footer*/
#footer{
	background: #1b1b1b;
	border-bottom: 1px solid #8f8f8d;
	padding: 40px 0px 60px;
}

#footer .information{
	float: left;
}

#footer .information > div{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-left: 0px;
}

#footer .information > div + div{
	margin-left: 80px;
}

#footer .information h6.title{
	margin: 0px 0px 8px;
	font-size: 16px;
	font-weight: normal;
	font-family:"bender";
}

#footer .information p, #footer .information p a{
	font-family: "raleway";
	color: 13px;
	margin: 5px 0px;
	color: #fff;
	text-decoration: none;
}

#footer .info-more{
	float: right;
	text-align: right;
	margin-left: 20px;
}

#footer .info-more ul.list-social{
	margin: 40px 0px 12px;
	padding: 0px;
	list-style: none;
}

#footer .info-more ul.list-social li{
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	margin-left: 8px;
}

#footer .info-more p{
	font-size: 9px;
	font-family: "raleway";
	margin: 0px;
	color: #fff;
	word-spacing: 1px;
}

#footer .info-more p a{
	font-weight: 700;
	font-size: 13px;
	color: #fff;
	text-decoration: none;
}